* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 20;
}

body {
    background-color:gray;
    color: black;
}

.main-heading {
    font-size: 2rem;
    text-align: center;
}

.our-plans {
    display:flex;
    justify-content: center;
    align-items: center;
}

.plan {
    background-color: aliceblue;
    border: 3px solid black;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px;
    width:20%;
    height: 700px;
    
}

.basic-plan {
    font-size: 2rem;
    height: 40px;
    margin-top: 20px;
    background-color:cadetblue
    

}

.standard-plan {
    font-size: 2rem;
    height: 40px;
    margin-top: 20px;
    background-color:coral;
}

.advanced-plan {
    font-size: 2rem;
    height: 40px;
    margin-top: 20px;
    background-color:darkcyan
}

.price-heading {
    font-size: 3rem;
    vertical-align: middle;
}

.plan-item {
    padding: 10px 0;
    
}

.btn-order-now {
    background-color:rgb(19, 31, 53);
    padding: 5px;
    margin-top: 10px;
    display:block;
    color:white;
    border-radius: 5px ;    
}

.btn-order-now:hover{
    background-color:turquoise;
}

.plan:hover {
    background-color:chocolate;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    transform: scale(1.1);
    z-index: 1;
    
}